<div class="jumbotron pesquisa-produtos-container">

  <div class="logo-aqui-div">
    <img src="/assets/logo-aqui.png" class="logo-aqui">
  </div>

  <%= form_for(@produto, :html => {:id => "form-pesquisa-produtos"}) do |f| %>
      <%= f.text_field :nome, :class => 'form-control input-lg pesquisa-produtos', :placeholder => "Pesquise produtos...", :autocomplete => :off %>

      <div class="btn-group a-direita">
        <img class="opcoes" title="Opções" src="/assets/menu.png" data-toggle="dropdown">
        <ul class="dropdown-menu dropdown-opcoes" role="menu">
          <li>
            <a id='selecione-uma-categoria' href="#">Pesquisa por categoria</a>
          </li>
        </ul>
      </div>

      <div class="row">
        <div class="col-md-4 a-direita selecione-uma-categoria">
          <select class="form-control" id='selecione-uma-categoria-select' name="produto[categoria][nome]">
            <option value="" style="display: none;"> Selecione uma categoria</option>
          </select>
        </div>
      </div>

  <% end %>

</div>

<div class="row produtos-pesquisados" style="display: block;">

</div>

<div class="nao-encontrou-o-que-procura jumbotron">

  <hr>

  Não encontrou o que procura? <br>
  Talvez o produto que esteja procurando ainda não esteja cadastrado na nossa base de dados. <br>
  Cadastre este produto para que ele possa ser avaliado. <br> <br>

  <%= link_to "Cadastrar produto", new_produto_path, :class => "btn btn-primary" %>

</div>

