<!DOCTYPE html>
<html>
<head>
  <title>Avaliador de produtos</title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <link rel="shortcut icon" href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQnDJEkZsF7HHScgoTUJXGQ-kGdpogGgKvlhUxUKbMJPyTg5Lfmew"/>
</head>
<body>

<a href="/" >
  <img src="/assets/logo-aqui.png" class="logo-pequeno-link">
</a>

<div class="container">

  <%= yield %>

</div>

</body>
</html>
